* {
	font-family:'Merriweather';
}

body{
  font-size: 18px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#005166 , #99eaff);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

/* navigation bar */
.fish {
	position: relative;
	display: block;
	padding: 10px;
	color: white;
	font-size: 20px;
	

}

#logout {
	float: right;
}

.nav {
  position: relative;
  width: 100%;
  
  
}

#fish {
	float: left;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.nav li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  float: left;
  
}

.nav li a:hover,
.nav .menu-btn:hover {
  background-color: rgb(225,225,225, 0.5)
  
}

/* END */

#menu{
    height: 24px;
    width: 98%;
}
#second-submenu{
    height: 24px;
    width: 98%;
}
#third-submenu{
   height: 24px;
    width: 98%;
    text-align: right;
}
#menu a, #second-submenu a, #third-submenu a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#menu a:hover, #second-submenu a:hover, #third-submenu a:hover{
    text-decoration: none;
    color: rgb(15, 151, 175, 0.5);
    font-weight: bold;
}
#content{
  width: 95%;
  padding: 8px;
  min-height: 600px;
  margin: 4px auto;
  background-color: rgba(255, 255, 255, 0.247);
}
#subcontent{
  width: 98%;
  padding: 4px;
}

.move-right{
    float: right;
    position: relative; top: 20px;
}

.input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(15, 151, 175);
}
textarea {
  line-height: 1.5;
  font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
#form-block-center {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 80%;
    margin: 0 auto;
}
#form-block {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 80%;
    margin: 0 auto;
}
#form-block #form-block-half{
    width: 45%;
    float: left;
    padding: 20px;
}
#button-block{
    width: 95%;
    padding: 20px;
    text-align: right;
}
/* end */

#data-list {
  border-collapse: collapse;
  width: 100%;
}

#data-list td, #data-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-list tr:nth-child(even){background-color: #f2f2f2;}

#data-list tr:hover {background-color: #ddd;}

#data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(15, 151, 175);
  color: white;
}
#login-block{
  width: 30%;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(15, 151, 175);
  padding: 20px;  
  margin-bottom: 150px;
}

.register-block{
  width: 40%;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(15, 151, 175);
  padding: 20px;  
  margin-bottom: 150px;
}

#submit {
  width: 100%;
  background: rgb(16, 66, 75);;
}
#submit:hover {
  width: 100%;
  background: rgb(16, 66, 75, 0.5);;
}

#brand-block{
  margin: 0 auto;
}

#brandfish{
  width: 15%;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#error_notif {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin: 0 auto;
  z-index: 999999999;
}

* {box-sizing: border-box}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .confirmbtn, .submitbtn  {
  float: right;
  width: 30%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.confirmbtn {
  background-color: #f44336;
}
.btn-jsactive{
  text-decoration: underline;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
/* Add a color to the delete button */
.submitbtn {
  background-color: #04AA6D;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,70%);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 4px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .confirmbtn, .submitbtn {
    width: 100%;
  }
}
.btn-box{
  float: right;
  width: 50%;
  text-align: right;
}

#receive-details table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #fcfcfc;
}
.info-text{
  font-weight: bold;
}
/*tr:nth-child(even){background-color: #f2f2f2}*/


/* main.php */
#main {
  color: white;
  text-align: center;
  margin: 0 auto;
}
